<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.4//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@//localhost:1521/XEPDB1</property>
        <property name="hibernate.connection.username">JULIAN_2</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <mapping class="dprecall.hibernate.Klas"/>
        <mapping class="dprecall.hibernate.Student"/>
        <mapping class="dprecall.hibernate.Vak"/>
    </session-factory>
</hibernate-configuration> 